body {
	font: normal medium/1.4 sans-serif;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 0.25rem;
	text-align: left;
	border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
	background: #eee;
}

.container.main {
	position: relative;
	top: 60px;
}

.navbar-default {
	border-color: rgba(34,34,34,.05);
	background-color: #aaa;
	-webkit-transition: all .35s;
	-moz-transition: all .35s;
	transition: all .35s;
}

.navbar-default .navbar-header .navbar-brand {
	color: #eee;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
	color: #white;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
	color: #eee;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
	color: #fff;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
	color: #888!important;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
	background-color: transparent;
}

@media(min-width:768px) {
	.navbar-default {
		border-color: rgba(255,255,255,.3);
	}

	.navbar-default .navbar-header .navbar-brand {
		color: rgba(255,255,255,.7);
		letter-spacing: 0.5em;
	}

	.navbar-default .navbar-header .navbar-brand:hover,
	.navbar-default .navbar-header .navbar-brand:focus {
		color: #fff;
	}

	.navbar-default .nav > li>a,
	.navbar-default .nav>li>a:focus {
		color: rgba(255,255,255,.7);
	}

	.navbar-default .nav > li>a:hover,
	.navbar-default .nav>li>a:focus:hover {
		color: #fff;
	}

	.navbar-default.affix {
		border-color: #fff;
		background-color: #fff;
		box-shadow: 0px 7px 20px 0px rgba(0,0,0,0.1);
	}

	.navbar-default.affix .navbar-header .navbar-brand {
		letter-spacing: 0;
		color: white;
	}

	.navbar-default.affix .navbar-header .navbar-brand:hover,
	.navbar-default.affix .navbar-header .navbar-brand:focus {
		color: #fff;
	}

	.navbar-default.affix .nav > li>a,
	.navbar-default.affix .nav>li>a:focus {
		color: #fff;
	}

	.navbar-default.affix .nav > li>a:hover,
	.navbar-default.affix .nav>li>a:focus:hover {
		color: #fff;
	}
}